<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @content.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @content.image %>
</p>

<p>
  <strong>Sound:</strong>
  <%= @content.sound %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
